
section{
    padding:10px;
    font-family: 'Quicksand' !important;
}

h4#titreOnglet{    
    font-family: 'Quicksand' !important;
}

header {
    width:80%;
    height:10%;
    margin-left:auto;
    margin-right:auto;
    margin-bottom: 100px;
    padding: 0;
    text-align: center;
    background-color: rgba(252, 252, 252, 0.555);
    border-radius:15px;
    /*background-color: -moz-linear-gradient(bottom left,whitesmoke, rgba(255, 255, 255, 0));
	background-color: -webkit-linear-gradient(bottom left, whitesmoke, rgba(255,255,255,0));
	background-color: -ms-linear-gradient(bottom left, whitesmoke, rgba(255,255,255,0));
	background-color: -o-linear-gradient(bottom left, whitesmoke, rgba(255,255,255,0));*/
    height:200px;
}

.bann {
    display: flex;
    justify-content: space-around;
} 
#titre {
    position:relative;
    right:100px;
}
#titreOnglet {
    align-items:center;
}

.titreHeader{
    color: rgb(75, 70, 70);
    font-size: 20px;
    margin: 10;
    position:relative;
    top: 1px;
    right:100px;
}
#logo{
    position:relative;
    width:100px;
    height: 100px;
    margin: auto 0;
}
.navbar{
    border-radius:15px;
    background-color: rgb(99, 92, 92);
    height:45px;
    position: relative;
    top: 25%; 
    animation-name: mymove;
    animation-duration: 3s;
    animation-iteration-count: 0.5;
    animation-fill-mode: forwards;
}

@keyframes mymove {
from {
    top:100px;
    opacity: 0 ;
}
to {
    top:20px;
    opacity: 1;
}
}

.navbar ul {
    list-style-type: none;
    margin:0;
    padding:0;
}

.navbar li {
   float:left;
}

  
.about {
    background-color:rgb(8, 100, 89);
    font-weight:bold;
    border-radius:10px 0px 0px 10px;
  }


.active{
    
    background-color:rgb(223, 143, 68);
    color: whitesmoke;
}

.navbar li a {
    display: inline-block;
    /*border-radius:10px;*/
    height:15px;
    text-shadow:0 1px 0 rgba(0,0,0,0);
    color: rgb(122, 185, 175);
    text-align: center;
    text-decoration: none;
    padding:15px 15px;
}

li a:hover:not(.about) {
    background-color: rgba(29, 141, 145, 0.555);
    /*box-shadow: 3px 4px #999;*/
    color:whitesmoke;
    height:15px;
  }

.navbar li a:focus{
    background-color:rgb(223, 143, 68);
    color: whitesmoke;
}

