#je-mauto-evalue{
	font-family: 'Roboto Bk', sans-serif;
	font-size: 2em;
	font-weight: bold;
	margin: 30px;
}

#tableau-entier {
	margin: 0 auto;
	width:50%;
}

.int-tableau-auto-eval {
	background-color: #D3D3D3;
	border-radius: 50px;
	padding: 10px 20px;
	border-spacing: 30px 10px;
	margin: 10px;
	font-family: 'Roboto Lt', sans-serif;
	text-align: center;
}

.options-niveau {
	background: none;
	border: none;
	font-family: 'Roboto Lt', sans-serif;
	font-size: 1em;
}

.options-niveau:hover {
	color: #696969;
}

.btnValid{
	margin-top: 25px ;
	text-align: center;
}

#valider {
	border-radius: 50px;
	padding: 10px 20px;
	font-family: 'Roboto Bk', sans-serif;
}

#valider:hover {
	background-color: #696969;
	color:white;
}

#resultImage{
	text-align: center;
	margin: 15px 0;
}
.score{
	margin: auto;
}
.hidden{
	display: none;
}