body{
    margin: 0;
}

.logo{
    position:relative;
    width:100px;
    height: 100px;
    margin: auto 0;
}

/* #region Header */

.header{
    padding:10px;
    font-family: 'Quicksand' !important;
}

header {
    width:80%;
    height:10%;
    margin-left:auto;
    margin-right:auto;
    margin-bottom: 80px;
    background-color: rgba(252, 252, 252, 0.555);
    border-radius:15px;
}

.banner {
    display: flex;
    justify-content: space-around;
}

#titre {
    position:relative;
    right:100px;
}

h4#titreOnglet{    
    font-family: 'Quicksand' !important;
}

@keyframes mymove {
    from {
        top:80px;
        opacity: 0 ;
    }
    to {
        top:0;
        opacity: 1;
    }
}
.navbar{
    border-radius:15px;
    background-color: rgb(99, 92, 92);
    height:45px;
    position: relative;
    animation-name: mymove;
    animation-duration: 3s;
    animation-iteration-count: 0.5;
    animation-fill-mode: forwards;
}

.navbar ul {
    list-style-type: none;
    margin:0;
    padding:0;
}

.navbar li {
   float:left;
}

.navbar li a {
    display: inline-block;
    height:15px;
    text-shadow:0 1px 0 rgba(0,0,0,0);
    color: rgb(122, 185, 175);
    text-decoration: none;
    padding:15px 15px;
}
  
.about {
    background-color:rgb(8, 100, 89);
    font-weight:bold;
    border-radius:10px 0px 0px 10px;
  }


.active{    
    background-color:rgb(223, 143, 68);
    color: whitesmoke !important;
}

li a:hover:not(.about):not(.active){
    background-color: rgba(29, 141, 145, 0.555);
    color:whitesmoke;
    height:15px;
  }

.navbar li a:focus{
    background-color:rgb(223, 143, 68);
    color: whitesmoke;
}

/* #endregion Header*/

/* #region Footer  */

.container-footer{
    background-color:rgb(54, 54, 54);
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 50px;    
}

.container-footer a img{
    background-color: white;
    padding:3px;
}

.container-footer div{
    color: white;
    text-align:center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    line-height: 1.5em;
    padding-top:20px;
    padding-bottom:20px;
}

.container-footer h5{
    font-weight: bold;
    font-size: 15px;
    line-height: 3px; 
}

.vertical-line{
    width:5px;
    border-left:1px solid gray;
    height:30px;
}

.copyright{
    padding: 10px 0;
    background-color: rgb(34, 34, 34);
    font-family: Arial, Helvetica, sans-serif;
    color:rgb(161, 161, 161);
    text-align:center;  
    font-size: 11px;
}

.linkColor{
    color: lightskyblue;
}
.linkColor:visited{
    color: #3087a4;
}

/* #endregion Footer */